.form-labels {
    input[type=text]{
        width: 80px;
        font-weight: bolder;
    }
}

input[type=number]{
    width: 70px;
}

.lowest {
    color: green; 
    font-weight: bold;
}

.button-container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}