<div>
  <label for="numberOfPlayers">Enter the number of players: </label>
  <input type="number" id="numberOfPlayers" value="2" min="2" max="8" [(ngModel)]="numberOfPlayers" (ngModelChange)="onModelChange()"><br><br>
</div>

<div *ngFor="let player of players; let i = index">
  <label>Name Player {{ i + 1 }}: </label>
  <input type="text" [(ngModel)]="player.name" value="Player {{ i + 1 }}">
</div>

<table>
  <tr>
    <ng-container *ngFor="let form of forms; let i = index">
      <td *ngIf="i == 0">
        <div class="form-labels">
          <div>
            <label for="round1">Round 1: </label>
          </div>
          <div>
            <label for="round2">Round 2: </label>
          </div>
          <div>
            <label for="round3">Round 3: </label>
          </div>
          <div>
            <label for="round4">Round 4: </label>
          </div>
          <div>
            <label for="round5">Round 5: </label>
          </div>
          <div>
            <label for="round6">Round 6: </label>
          </div>
        </div>
      </td>
      <td>
        <div class="form-container">
          <h3>{{ players[i].name }}</h3>
          <div>
            <input type="number" id="round1" min="0" max="36" [(ngModel)]="form.round1">
          </div>
          <div>
            <input type="number" id="round2" min="0" max="36" [(ngModel)]="form.round2">
          </div>
          <div>
            <input type="number" id="round3" min="0" max="36" [(ngModel)]="form.round3">
          </div>
          <div>
            <input type="number" id="round4" min="0" max="36" [(ngModel)]="form.round4">
          </div>
          <div>
            <input type="number" id="round5" min="0" max="36" [(ngModel)]="form.round5">
          </div>
          <div>
            <input type="number" id="round6" min="0" max="36" [(ngModel)]="form.round6">
          </div>
          <p>Sum: {{ calculateSum(form) }}</p>
        </div>
      </td>
    </ng-container>
  </tr>
</table>

<button type="button" (click)="generateForms()">Clear Form Values</button>
<button type="button" (click)="generatePlayerInputs()">Clear Players</button>