<!DOCTYPE html>
<html>
  <body>
    <div class="body-content">
    <h1>Beverbende Score Card</h1>
    <div>
      <label for="numberOfPlayers">Enter the number of players: </label>
      <input type="number" id="numberOfPlayers" value="2" min="2" max="8" [(ngModel)]="numberOfPlayers" (ngModelChange)="onModelChange()"><br><br>
    </div>

    <div *ngFor="let player of players; let i = index">
      <label>Name Player {{ i + 1 }}: </label>
      <input type="text" [(ngModel)]="player.name" value="Player {{ i + 1 }}">
    </div>

    <table>
      <tr>
        <ng-container *ngFor="let form of forms; let i = index">
          <td *ngIf="i == 0">
            <div class="form-labels">
              <div>
                <input type="text" value="Round 1: " readonly="true">
              </div>
              <div>
                <input type="text" value="Round 2: " readonly="true">
              </div>
              <div>
                <input type="text" value="Round 3: " readonly="true">
              </div>
              <div>
                <input type="text" value="Round 4: " readonly="true">
              </div>
              <div>
                <input type="text" value="Round 5: " readonly="true">
              </div>
              <div>
                <input type="text" value="Round 6: " readonly="true">
              </div>
            </div>
          </td>
          <td>
            <div class="form-container">
              <p>{{ i + 1 }}: {{ players[i].name }}</p>
              <div>
                <input type="number" id="round1" min="0" max="36" [(ngModel)]="form.round1">
              </div>
              <div>
                <input type="number" id="round2" min="0" max="36" [(ngModel)]="form.round2">
              </div>
              <div>
                <input type="number" id="round3" min="0" max="36" [(ngModel)]="form.round3">
              </div>
              <div>
                <input type="number" id="round4" min="0" max="36" [(ngModel)]="form.round4">
              </div>
              <div>
                <input type="number" id="round5" min="0" max="36" [(ngModel)]="form.round5">
              </div>
              <div>
                <input type="number" id="round6" min="0" max="36" [(ngModel)]="form.round6">
              </div>
              <p *ngIf="totalSum[i] == lowestValue" style="color: green; font-weight: bold;">Sum: {{ calculateSum(form, i) }}</p>
              <p *ngIf="totalSum[i] != lowestValue">Sum: {{ calculateSum(form, i) }}</p>
            </div>
          </td>
        </ng-container>
      </tr>
    </table>

    <div style="width: 100px; height: 100px; position: absolute; bottom: 0; right: 0; background-color: white;" (click)="triggerModal()" data-toggle="modal" data-target="#helloModal"></div>

    <button type="button" class="btn btn-warning" (click)="generateForms()">Clear Form Values</button>
    <button type="button" class="btn btn-danger" (click)="generatePlayerInputs()">Clear Players</button>
    <button type="button" class="btn btn-success" (click)="chooseRandomPlayer()">Choose Beginner</button>

    <div #helloModal class="modal fade" id="helloModal" role="dialog" aria-labelledby="helloModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helloModalLabel">Set Default Players</h5>
            <button (click)="triggerModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button (click)="setDefaultPlayers()" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
            <button (click)="triggerModal()" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>