<!DOCTYPE html>
<html>
    <body>
        <h1>Welkom</h1>
        <p>Op deze site kunt u gebruik maken van de digitale score kaart van BeverBende en Yathzee.<br>Veel plezier en succes met nullen verzamelen!<br>Natuurlijk niet als je yathzee gaat doen ;)</p>

        <div class="direct-navigation-cards">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/bever-bende.jpg" alt="BeverBende Box">
                <div class="card-body">
                    <h5 class="card-title">BeverBende</h5>
                    <p class="card-text">Navigeer direct naar de beschrijving of score kaart.</p>
                    <p><a routerLink="/home-bever-bende" class="card-link">Beschrijving</a></p>
                    <p><a routerLink="/dynamic-forms" class="card-link">Score kaart</a></p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/yathzee.jpg" alt="Yathzee Box">
                <div class="card-body">
                    <h5 class="card-title">Yathzee</h5>
                    <p class="card-text">Navigeer direct naar de beschrijving of score kaart.</p>
                    <p><a routerLink="/home-yathzee" class="card-link">Beschrijving</a></p>
                    <p><a routerLink="/yathzee-score-card" class="card-link">Score kaart</a></p>
                </div>
            </div>

        </div>
    </body>
</html>