<!DOCTYPE html>
<html>
    <body>
        <h1>Welkom</h1>
        <p>Op deze site kunt u gebruik maken van de digitale score kaart van BeverBende. Veel plezier en succes met nullen verzamelen!</p>

        <div class="direct-navigation-cards">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/bever-bende.jpg" alt="BeverBende Box">
                <div class="card-body">
                    <h5 class="card-title">Beschrijving</h5>
                    <p class="card-text">Navigeer direct naar de beschrijving.</p>
                    <a routerLink="/home-bever-bende" class="card-link">Klik hier!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/images/score-card.jpg" alt="BeverBende Score Card">
                <div class="card-body">
                    <h5 class="card-title">Score Kaart</h5>
                    <p class="card-text">Navigeer direct naar de score kaart.</p>
                    <a routerLink="/dynamic-forms" class="card-link">Klik hier!</a>
                </div>
            </div>

        </div>
    </body>
</html>